@import '@/scss/reset';

$primary-font: 'Cabin';

body {
	font-family: $primary-font;
}

main {
	margin: 10px;
	max-width: 960px;
}

h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.8px;
}
