@import '@/scss/variables';

.home {
	max-width: 960px;
	margin: 10px;
}

h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.8px;
	text-align: center;
}

h6 {
	font-style: italic;
	text-align: center;
}

form {
	margin-top: 50px;
}

.home__submit {
	width: 100%;
	text-align: center;
}

.home__error {
	color: red;
	font-size: 12px;
}

@include desktop() {
	h1, h6, .home__submit {
		text-align: left;
	}
}